body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/**
  Animation
*/
.fadeIn {
    animation-name: fadeIn;
}

.animated {
    animation-duration: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/**
  Row
*/
.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}


/**
  Button
*/
.btn-add-cart {
  color: #dc3545;
  background-color: #ffffff;
  border-color: #dc3545;
  border: 4px solid #f1574b;
  border-radius: 2rem;
  padding: 0.825rem 1em;
  width: 100%;
  font-size: 14px;
}


/**
  Header
 */
 .app-header a {
   color: black;
 }

.app-header a.active {
  color: white;
  background-color: #ffb404;
}


/**
  Products
 */
 .products-type__product-panel {
     color: #000 !important;
     text-decoration: none;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     overflow: hidden;
     position: relative;
 }

.products-type__product-panel-middle {
    border-left: 4px solid #f5f1ed;
    border-right: 4px solid #f5f1ed;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.625em 32px;
}

.products-type__product-panel-icons {
    margin-bottom: 0.8125em;
    margin-left: -8px;
}

.products-type__product-panel-icons img {
    width: 40px;
}

.products-type__product-panel-description {
    font-size: 14px;
    line-height: 1.54;
}

.products-type__product-panel-cta {
    color: #f1574b;
    display: inline-block;
    font-family: "Ginger", "Garamond", sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.products-type__product-panel-bottom {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 4px solid #f5f1ed;
    border-radius: 0 0 4px 4px;
    border-top-width: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 32px 1.625em;
}

.products-type__product-panel-price {
    border-top: 3px solid #f5f1ed;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin-bottom: 0.8125em;
    padding-top: 0.8125em;
    text-align: left;
}

.products-type__product-panel-price h6 {
    font-weight: normal;
}
